*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1F2937;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    background-color: #1F2937;
    color: #FFF;
    height: 60px;
}

.navbar a:hover{
    color:aqua;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}
.navbar a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .container .nav{
    display: flex;
    gap: 25px;
}
.header .container{
    background-color: #1F2937;
    color: #FFF;
    min-height: 400px;
    display: flex;
    align-items: center;
}

button{
    background-color: #3882F6;
    color: #FFF;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: bold;
}
.boxes {
    background-color: #FFF;
    height: 400px;
}

.boxes h2{
    display: flex;
    justify-content: center;
    color: rgb(0, 102, 255);
    margin-bottom: 50px;
    padding-top: 50px;
    font-weight: bold;
}
.box p{
    color: #1F2937;
    font-size: 16px;
    font-weight: bold;
}
.box img{
    border: 5px solid #3882F6;
}

.boxes .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quote{
    background-color: #E5E7EB;
    padding: 50px;
}
.quote p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad{
    background-color: #FFF;
    padding: 100px;
    height: 300px;
}
.ad .container{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 50px;
}
.ad h3{
    color: #FFF;
}

.copyright{
    padding: 35px 40px;
    color: gray;
}
.copyright .container{
    display: flex;
    align-items: center;
    justify-content: center;
}


